@import '../node_modules/@angular/material/theming';

@include mat-core();
$md-orange: (
    50 : #fdeee1,
    100 : #fad5b3,
    200 : #f7b981,
    300 : #f39c4e,
    400 : #f18728,
    500 : #ee7202,
    600 : #ec6a02,
    700 : #e95f01,
    800 : #e75501,
    900 : #e24201,
    A100 : #ffffff,
    A200 : #ffdfd6,
    A400 : #ffb8a3,
    A700 : #ffa48a,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-grau: (
    50 : #f9f9f9,
    100 : #f0f0f0,
    200 : #e6e6e6,
    300 : #dbdbdb,
    400 : #d4d4d4,
    500 : #cccccc,
    600 : #c7c7c7,
    700 : #c0c0c0,
    800 : #b9b9b9,
    900 : #adadad,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #fffcfc,
    A700 : #ffe2e2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);
